.plant-model-table {
    th {
      &.header-min-width {
        min-width: 95px;
      }
      &.grp-order {
        min-width: 115px;
      }
      &.created-on {
        min-width: 180px;
      }
    }
    td {
      &.row-action-btns-column {
        padding: 10px;
      }
    }
  }

  // input.ng-invalid.ng-touched {
  //   border: 2px solid red;
  // }
  // input.ng-valid.ng-touched {
  //   border: 2px solid green;
  // }
.invalid-feedback{
    color: red;
}
[hidden] {
  display: none !important;
}